<div class="task-card">
  <div class="index">
    Task No. #{{index}}
  </div>
  <div class="name">
    {{task.name}}
  </div>
  <div class="description">
    <div>
      Description:
    </div>
    <div>
      {{task.description}}
    </div>
  </div>
  <div class="menu">
    <button (click)="toggleDone(task)">
      <div *ngIf="task.isDone">
        Not Done
      </div>
      <div *ngIf="!task.isDone">
        Done
      </div>
    </button>
    <button (click)="deleteTask(task)">
      Delete Task
    </button>
  </div>
</div>
