<div>
  Task Manager
</div>
<div>
  <button (click)="clearAllTasks()">Clear All Tasks</button>
</div>

<div class="grid-main-page">
  <div class="create-task">
    <input type="text" [(ngModel)]="newTask"/>
    <button (click)="submitNewTask(newTask)">Add Task</button>
  </div>

  <div class="outstanding-tasks">
    <div *ngFor="let task of outstandingTasks$ | async; index as index">
      <task-card [task]="task" [index]="index"></task-card>
    </div>
  </div>

  <div class="done-tasks">
    <div *ngFor="let task of doneTasks$ | async; index as index">
      <task-card [task]="task" [index]="index"></task-card>
    </div>
  </div>
</div>
